@import url("https://fonts.googleapis.com/css?family=Rubik");

:root {
  --link-color: #932c8f;
}

@font-face {
  font-family: "Nightvale";
  src: url("../public/big_noodle_titling.ttf") format("truetype");
}

.nightvale {
  font-family: "Nightvale", Arial, "sans-serif" !important;
  color: white;
}

a:not(.github-corner) {
  position: relative;
  text-decoration: none;
  color: var(--link-color);
}

a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
a:hover {
  color: var(--link-color);
  text-decoration: none;
}
a::before:not(.github-corner) {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(---link-color) !important;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

html {
  height: 100vh;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #f6fafa;
}

h2,
h3,
h4,
p,
span,
input,
li:not(.transcript) {
  font-family: "Rubik", Arial, "sans-serif" !important;
}

.transcript > * {
  font-family: Roboto, sans-serif !important;
}

::selection {
  background: #932c8f;
  color: white;
}
