@import url("https://fonts.googleapis.com/css?family=Rubik");

:root {
  --link-color: #9933c8;
}

@font-face {
  font-family: "Nightvale";
  src: url("../public/big_noodle_titling.ttf") format("truetype");
}

.nightvale {
  font-family: "Nightvale", Arial, "sans-serif" !important;
  color: white;
}

html {
  height: 100vh;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #f6fafa;
}

h2,
h3,
h4,
p,
span,
input,
li:not(.transcript) {
  font-family: "Rubik", Arial, "sans-serif" !important;
}

.transcript > * {
  font-family: Roboto, sans-serif !important;
}

::selection {
  background: #932c8f;
  color: white;
}
